# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/

# VSCode settings (optional)
.vscode/

# Pytest cache
.pytest_cache/

# mypy
.mypy_cache/

# Logs
*.log

# macOS
.DS_Store

# IDEs
.idea/
*.swp

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python egg info
*.egg-info/

# Build
build/
dist/

# dotenv (jika pakai)
.env